@import "../../style.scss";

body {
    background: linear-gradient(rgba(20, 33, 61, 1), rgba(10, 9, 8, 0.6)), url('../../assets/noida-bg-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::-webkit-scrollbar {
        display: none;
    }
}

.alumni {
    color: white;

    .start {
        padding: 50px;
    }

    @include mobile{
        padding: 10px;
    }
}