@import "../../style.scss";

.navbar {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 40px;
        border-bottom: 1px solid themed("border");
        position: sticky;
        top: 0;
        background-color: themed("bg");
        color: themed("textColor");

        .left {
            display: flex;
            align-items: center;
            gap: 30px;

            span {
                font-weight: bold;
                font-size: 20px;
                color: themed("logo");
            }

            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid themed("searchBorder");
                border-radius: none;
                padding: 0px 5px;

                input {
                    border: none;
                    width: 600px;
                    background-color: transparent;
                    color: themed("textColor");
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 50px;
            font-weight: 500;
        }
    }
}
