.carousel {
    position: relative;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
    &__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      color: #fff;
      font-size: 24px;
      padding: 16px;
      cursor: pointer;
      z-index: 1;
      transition: all 0.3s ease;
  
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
  
      &--prev {
        left: 0;
      }
  
      &--next {
        right: 0;
      }
    }
  
    &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
      opacity: 0;
      animation-name: fade;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
  
      &.active {
        opacity: 1;
        z-index: 1;
      }
    }
  
    @keyframes fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  
    @media screen and (max-width: 768px) {
      .carousel {
        height: 250px;
  
        &__button {
          font-size: 16px;
          padding: 8px;
        }
      }
    }
  }
  